:root.theme-dark {
	color-scheme: dark;
	--heading-accent: #db00ff;
	--bg-color: #000026;
	--bg-image: url("../images/cover-image-dark.png");
	--text: #f1b2ce;
	--accent: #ff0070;
	--section-accent-color: var(--accent);
	--button-color: var(--accent);
	--button-hover-border-color: #FF007066;
	--heading-sec: #000028;
}


@media (prefers-color-scheme: dark) {
:root {
	 color-scheme: dark;
	--heading-accent: #db00ff;
	--bg-color: #000026;
	--bg-image: url("../images/cover-image-dark.png");
	--text: #f1b2ce;
	--accent: #ff0070;
	--section-accent-color: var(--accent);
	--button-color: var(--accent);
	--button-hover-border-color: #FF007066;
	--heading-sec: #000028;
	--size-base: 18px;
	--size-s: 116px;
	--size-m: 120px;
	--size-l: 157px;
	--weight-reg: 400;
	--weight-bold: 700;
	--lh-base: 23.4px;
	--lh-btn: 18px;
	--rec-decoration-visibility: visible;
 }
}