:root {

  --size-base: 18px;
  --size-s: 116px;
  --size-m: 120px;
  --size-l: 157px;
  --weight-reg: 400;
  --weight-bold: 700;
  --lh-base: 23.4px;
  --lh-btn: 18px;
  --typography-size-base: 18px;
  --typography-weight-regular: 400;
  --line-height-base: 23.4px;
}

@media (prefers-color-scheme: no-preference) {
  :root {
    color-scheme: light;
  }
}
