:root {
  --heading-accent: #ffc2e6;
  --bg-color: #fdf2f7;
  --bg-image: url("../images/cover-image-light.png");
  --text: #353430;
  --accent: #ff8dcb;
  --section-accent-color: var(--text);
  --button-hover-border-color: #32312d66;

  --button-color: var(--text);
  --heading-sec: var(--text);
  --size-base: 18px;
  --size-s: 116px;
  --size-m: 120px;
  --size-l: 157px;
  --weight-reg: 400;
  --weight-bold: 700;
  --lh-base: 23.4px;
  --lh-btn: 18px;
  --typography-size-base: 18px;
  --typography-weight-regular: 400;
  --line-height-base: 23.4px;
  --rec-decoration-visibility: hidden;
}

@media (prefers-color-scheme: no-preference) {
  :root {
    color-scheme: light;
  }
}
